/*
	COMMON
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*
	HEADER	
*/
.header,
.footer {
    background: #15181f url(../images/bg-texture.jpg) repeat;
    color: #fff;
}

.middle {
    background: #fff;
}

.hero {
    background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 465px;
}

.logo {
    float: left;
    margin: 19px 17px 0 0;
}

.slogan {
    float: left;
    margin-top: 22px;
    font: italic 16px "Times New Roman", Times, Georgia, serif;
    color: rgba(255, 255, 255, .35);
}

.nav {
    float: right;
}

.nav li {
    float: left;
    border-left: 1px solid #2c323d;
	list-style-type:none;
}

.nav a {
    display: block;
    line-height: 62px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.nav a {
    display: block;
    line-height: 62px;
    padding: 0 24px 0 53px;
    color: #fff;
}

.nav a:hover {
    background-color: #13151a;
}

.nav a:after {
    content: '';
    background: url(../images/nav-icons.png) no-repeat;
    position: absolute;
    top: 22px;
/*    left: 24px;*/
}

.nav .how-it-works a:after {
    background-position: 0 -1px;
    width: 19px;
    height: 18px;
}
.nav .sign-up a:after {
    background-position: -20px -1px;
    width: 19px;
    height: 18px;
}
.nav .login a:after {
    background-position: -43px -2px;
    width: 14px;
    height: 17px;
}

body {
    font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #55606e;
}

/*
	HERO
*/
.hero {
    background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 465px;
    color: #fff;
    text-align: center;
    padding-top: 31px;
}

.hero h1 {
    font-size: 52px;
    font-weight: bold;
    margin: 0 0 30px;
}
.hero p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 600;
    max-width: 715px;
    margin: 0 auto 51px;
}
.hero p strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    padding: 0 55px;
    margin: 0 11px;
}
.btn-green {
    background-color: #83c129;
    box-shadow: 0 4px 0 #518719;
}
.btn-blue {
    background-color: #068fd5;
    box-shadow: 0 4px 0 #046b9f;
}

/*
	FOOTER
*/
.footer {
    padding: 36px 0;
}

.footer-nav {
    float: left;
}
.footer-nav .column {
    float: left;
    width: 136px;
}
.footer-nav .title {
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: bold;
}
.footer-nav ul {
    font-size: 12px;
}
.footer-nav ul li {
    margin-bottom: 7px;
}
.footer-nav a {
    color: #8e959c;
}

.copyright {
    clear: right;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    color: #8e959c;
}
.copyright a {
    color: #8e959c;
    margin-left: 8px;
}

/*
	MIDDLE
*/

.container:after,
.blocks:after {
    content: "";
    display: table;
    clear: both;
}

.blocks .block {
    float: left;
    width: 351px;
    margin-left: 43px;
}
.blocks .block:first-child {
    margin-left: 0;
}

.blocks .block {
    float: left;
    width: 351px;
    margin-left: 43px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #d9dbdf;
}
.blocks .block:first-child {
    margin-left: 0;
}

.blocks img {
    vertical-align: top;
}

.blocks .image {
    margin-bottom: 13px;
}
.blocks .photo {
    float: left;
}
.blocks .text {
    float: right;
    width: 258px;
}
.blocks .phrase {
    color: #454e5c;
    margin-bottom: 2px;
    font-weight: 600;
}
.blocks .info {
    color: #8e959c;
    font-size: 14px;
}

.blocks .block:after,
.blocks .block:before {
    content:'';
    height: 3px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e1e2e5;
    border-top: 0;
    position: absolute;
}
.blocks .block:after {
    bottom: -4px;
    left: 3px;
    right: 3px;
}
.blocks .block:before {
    bottom: -7px;
    left: 6px;
    right: 6px;
}