html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header,
.footer {
    background: #15181f url(../images/bg-texture.jpg) repeat;
    color: #fff;
}

.middle {
    background: #fff;
}

.hero {
    background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 465px;
}

.logo {
    float: left;
    margin: 19px 17px 0 0;
}

.slogan {
    float: left;
    margin-top: 22px;
    font: italic 16px "Times New Roman", Times, Georgia, serif;
    color: rgba(255, 255, 255, .35);
}

.nav {
    float: right;
}

.nav li {
    float: left;
    border-left: 1px solid #2c323d;
	list-style-type:none;
}

.nav a {
    display: block;
    line-height: 62px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.nav a {
    display: block;
    line-height: 62px;
    padding: 0 24px 0 53px;
    color: #fff;
}

.nav a:hover {
    background-color: #13151a;
}

.nav a:after {
    content: '';
    background: url(../images/nav-icons.png) no-repeat;
    position: absolute;
    top: 22px;
/*    left: 24px;*/
}

.nav .how-it-works a:after {
    background-position: 0 -1px;
    width: 19px;
    height: 18px;
}
.nav .sign-up a:after {
    background-position: -20px -1px;
    width: 19px;
    height: 18px;
}
.nav .login a:after {
    background-position: -43px -2px;
    width: 14px;
    height: 17px;
}

body {
    font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #55606e;
}

.hero {
    background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 465px;
    color: #fff;
    text-align: center;
    padding-top: 31px;
}

.hero h1 {
    font-size: 52px;
    font-weight: bold;
    margin: 0 0 30px;
}
.hero p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 600;
    max-width: 715px;
    margin: 0 auto 51px;
}
.hero p strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    padding: 0 55px;
    margin: 0 11px;
}
.btn-green {
    background-color: #83c129;
    box-shadow: 0 4px 0 #518719;
}
.btn-blue {
    background-color: #068fd5;
    box-shadow: 0 4px 0 #046b9f;
}